/* Group 33138 */
.navbar-brand img {
position: absolute;
width: 97.97px;
height: 74.93px;
left: 135px;
top: 0px;
}
#food-view{
    display: none;
}
.card {
    margin-top: 50px;
}

.card-deck img{
    width: 250px;
}
.card h6 {
    text-align: center;

}
.card-deck{
    margin-top: 10px;

   
}
#item-view {
    display:none;
    margin: 40px;
    padding: 40px;
    

}
#not-found{
    display: none;
    text-align: center;
}